@font-face {
    font-family: "Menlo";
    src: url(fontes/Menlo-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
}

header{
    font-family: "Serif bold";
}

body{
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr; 
    margin: 0;
    background-image: radial-gradient(rgb(1, 1, 90), black);
    min-height: 100vh;
    background-attachment: fixed;
    height: auto;
}

h1{
    text-align: center;
    color: rgb(0, 0, 0);
}

hr{
    color: rgb(0, 0, 0);
}

main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 10px;
}

article, #orçamento{
    grid-column: 1/3;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    max-width: 1500px;
    border: 5px solid rgb(240,240,240);
    flex: 1;
    margin-top: 40px;
    height: 700px;
}

#cliente{
    max-width: 500px;
    
}
#ul_cliente{
    width: 100%;
}
#li_cliente{
    width: 100%;
    display: flex;
    flex-direction: row;
}
img{
    color: white;
}
#p_cli{
    color: white;
    font-size: 20px;
    
    
}
#medida{
    width: 100%;
    border-top: 0cap;
    font-family: "Serif bold";
    text-align: center;
    text-transform: uppercase;
}

h2{
    color: rgb(185, 185, 185);
    text-align: center;
    text-transform: uppercase;
}

#serv{
    width: 100%;
    text-align:center;
    font-family: serif bold;
    text-transform: uppercase;
}

#inp1, #inp2{
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-size: medium;
}

#calc{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
    color: rgb(228, 228, 228);
}

#calc1, #calc2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#tot{
    text-align: center;
    color: white;
    font-size: xx-large;
    border: 2px solid;
    padding: 2px 10px 5px 10px;
    border-radius: 10px;
    min-width: 5%;
}

#tot_serv{
    text-align: center;
    color: white;
    font-size: xx-large;
    border: 2px solid;
    padding: 2px 10px 5px 10px;
    width: fit-content;
    border-radius: 10px;
}

#totais{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#busca{
    text-align: center;
    background-color: transparent;
    color: white;
    height: 50px;
    width: 100%;
    border-radius: 20px;
    font-size: larger;
    margin: 20px;

}

#ops{
    font-size: larger;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

#opcoes{
    display: flex;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

nav{
    display: flex;
    align-items: center;    
    flex-direction: column;
    margin: 0 20px;
    padding: 10px;
}

li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 20px;
    width: 100%;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    gap: 10px;
}
#ul_busca{
   margin: 0;
}
#ul_busca:has(li){
    position: absolute;
    top: 85%;
    display: flex;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: 270px;
    background: rgba(255, 255, 255, 0.192); 
    backdrop-filter: blur(10px);
    overflow-y: auto;
    z-index: 999;
    align-items: stretch;
    justify-content: flex-start;
    border: 5px solid;
    border-color:white ;
    border-radius: 20px;
}

#div_busca{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}

details{
    text-align: center;
    width: 240px;
    text-transform: capitalize;
    white-space: normal;
    color: white;
    border-radius: 10px;
    font-family: "Menlo";
    position: relative;
    overflow: hidden;
}

details[open]{
    max-height: 250px;
    overflow-y: auto;
}

summary{
    list-style: none;
}

#portas{
    border: 3px solid;
    padding: 10px;
}

#janela{
    border: 3px solid;
    padding: 10px;
}

button{
    font-family: "Menlo";
    font-size: large;
    color: rgb(255,255,255);
    background-image: linear-gradient(90deg, rgb(0,0,104), rgb(0,9,88));
    width: 90%;
    white-space: normal;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 20px;
    text-transform: capitalize;
}

#fechamento{
    border: 3px solid;
    padding: 10px;
}

#fec{
    display: flex;
    gap: 10px;
}

#cobertura{
    border: 3px solid;
    padding: 10px;
}

#ret{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

#troca{
    border: 3px solid;
    padding: 10px;
    text-align: center;
}

#fix{
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.escondido{
    display: none;
}

#escon{
    width: 80%;
}





/* MOBILE */

@media (max-width: 768px){

    main{
        margin-left: 0;
        justify-content: center;
        padding: 0 15px;
        height: auto;
    }

    h1{
        font-size: x-large;
    }

    body{
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    article, #orçamento{
        margin-top: 40px;
        width: 90%;
        max-width: 100%;
        height: auto;
        border:none;
    }

    #busca{
        font-size: 20px;
    }

    #div_busca{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0;
        position: relative;
    }

    #ops{
        flex-direction: column;
    }

    #opcoes{
        flex-direction: column;
    }

    details{
        display: flex;
        max-width: 100%;
        flex-direction: column;
    }

    #ul_busca:has(li){
        top: 85%;
        left: 50%;
        transform: translateX(-50%);
        height: 300px;
        max-width: 100%;
    }

    nav{
        margin: 0;
        width: 100%;
        align-items: center;
    }

    button{
        width: 100%;
    }

    #cliente{
        display: none;
    }
}