header{
    border-color: black;
    border: 2px solid;
    grid-column: 1 / 3;
}
body{
    display: grid;
    grid-template-rows: 100px 1fr 20px;
    grid-template-columns: 1fr;
    margin: 0;
    height: 100vh;
}
h1{
    text-align: center;
}
main{
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
   
    width: 100%;

}
article{
    border: 2px solid;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    height: 500px;
    width: 90%;

}

#medida{
    width: 100%;
    border: 2px solid;
    border-top: 0cap;
    text-align: center;
    margin: 0;

}
#serv{
    width: 100%;
    border: 2px solid;
    text-align: center;
}
#inp1, #inp2{
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-size: medium;
}
#calc{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
}
#calc1, #calc2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#tot{
    width: 25%;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;

}
#ops{
    font-size: larger;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}
nav{
    display: flex;
    gap: 20px;
    margin: auto 20px auto 20px;
    padding: 10px;
    align-items: flex-start;
}
li{
    list-style: none;

}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    padding: 0;
}
details{
    text-align: center;
    width: 300px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: scroll;
  
}
summary{
    list-style: none;
}
#portas{
    border: 2px solid;
}
#janela{
    border: 2px solid;

}
#fechamento{
    border: 2px solid;
}
#cobertura{
    border: 2px solid;
}
#troca{
    border: 2px solid;
    text-align: center;
}

footer{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3/4;
    grid-column: 1/3;
}

   @media (max-width: 768px){
    header{
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1{
        font-size: medium;
        text-align: center;
    }
    body {
        grid-template-rows: 80px 1fr 30px;
    }

    main {
        display: flex;
        justify-content: center;
        margin-bottom: 80%;
        width: 100%;
        height: 100%;
    }

    article {
        width: 90%;
        max-width: 300px;
        height: 300px;
        align-items: center;
        display: flex;
        height: 80%;
    }
    nav{
        flex-direction: column;
        display: flex;
        align-items: stretch;
        width: 100%;
        
    }
    #calc1, #calc2{
        width: 40%;
    }
    .inps3{
        width: 150px;
    }
    details{
        text-align: center;
        width: 200px;
    }
}

