@font-face {
    font-family: "Menlo";
    src: url(fontes/Menlo-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}


header{
    grid-column: 1 / 2;
    font-family: "Serif bold";
    display: flex;
    align-items: center;
    justify-content: center;
   
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr; 
    margin: 0;
    background-image: radial-gradient(rgb(1, 1, 90), black);
    min-height: 100vh;
    height: auto;
    background-attachment: fixed;
}
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    
}
main{
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    
    justify-content: center;
    width: 100%;

    
}
article{
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    
    margin-top: 200px;
    width: 100%;
  
}

#medida{
    width: 100%;
    border-top: 0cap;
    font-family: "Serif bold";
    text-align: center;
    text-transform: uppercase;
    overflow: hidden

    
}
h2{
    color: rgb(185, 185, 185);
}
#serv{
    width: 100%;
    text-align:center;
     font-family: serif bold;
    text-align: center;
    
    text-transform: uppercase;
}
#inp1, #inp2{
    text-align: center;
    width: 100%;
    height: 30px;
    border-radius: 10px;
    font-size: medium;
}
#calc{
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    justify-content: center;
        color: rgb(228, 228, 228);

}
#calc1, #calc2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

#tot{
    text-align: center;
    color: white;
    font-size: xx-large;
    border: 2px solid;
    padding: 2px 10px 5px 10px;
    width: 5%;
    border-radius: 10px;


}



#tot_serv{

 text-align: center;
    color: white;
    font-size: xx-large;
    border: 2px solid;
    padding: 2px 10px 5px 10px;
    width: fit-content;
    border-radius: 10px;
}
#totais{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#ops{
    font-size: larger;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
nav{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 0 20px;
    padding: 10px;
    align-items: start;
}


li{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    gap: 6px;
    padding: 0;
    width: 100%;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-self: center;
    gap: 10px;
    padding: 0;
}
details{
    text-align: center;
    width: 300px;
    text-transform: capitalize;
    white-space: nowrap;
    color: white;
    border-radius: 10px;
    font-family: "Menlo";


    
}
summary{
    list-style: none;
}
#portas{
    border: 3px solid;
    padding: 10px;
}
#janela{
    border: 3px solid;
    
    padding: 10px;

}
button{
    font-family: "Menlo";
    font-size: large;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(90deg, rgb(0, 0, 104), rgb(0, 9, 88));
    width: 90%;

    white-space: normal;
    word-wrap: break-word;
    padding: 10px;
    border-radius: 20px;
    text-transform: capitalize;
}
#fechamento{
    border: 3px solid;
    padding: 10px;
}
#fec{
    display: flex;
    gap: 10px;
}

#cobertura{
    border: 3px solid;
    
    padding: 10px;
}

#ret{
    white-space: nowrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#troca{
    border: 3px solid;
    
    padding: 10px;
    text-align: center;
}
#fix{
    white-space: nowrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escondido{
    display: none;
}
#escon{
    width: 80%;
}

footer{
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    grid-row: 3/4;
   

}

   @media (max-width: 768px){
    header{
        height: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1{
        text-align: center;
        margin-top: 200px;
        font-size: 40px;
    }
    body {
        grid-template-rows: 80px 1fr 30px;
    }

    main {
        display: flex;
        justify-content: center;
        margin-bottom: 80%;
        width: 100%;
        height: 100%;
    }

    article {
        width: 90%;
        max-width: 300px;
        height: 300px;
        align-items: center;
        display: flex;
        height: 80%;
    }
    nav{
        flex-direction: column;
        display: flex;
        align-items: stretch;
        width: 100%;
        
    }
    #calc1, #calc2{
        width: 40%;
    }
    .inps3{
        width: 150px;
    }
    details{
        text-align: center;
        width: 200px;
    }
}

